extends layout

block content
  .hero-unit
    h1 Welcome to administration!
  .row
    .span6
      h2 Users
      table.table.table-bordered
        tr
          th Name
        tr
          td Foo
    .span6
      h2 New User
      form
        p
          label Username
          input(ng-model="user.name")
        p
          label Password
          input(ng-model="user.password")
        p
          label Queues
          input(ng-model="user.queues", placeholder="Leave empty for all queues")
        p
          label Views
          input(ng-model="user.views", placeholder="Leave empty for all views")
        p
          label Bulk
          input(type="checkbox", ng-model="user.bulk")
        p
          button.btn.btn-primary Add New