.offset-by-fourteen
  h1 CloudQ
h3 Queues
hr
ul
  each queue in queues
    if queue.queue
      li
        .fourteen.columns
          h2 #{queue.queue}  
        .one.column
          if queue.queue_state == 'queued'
            h1(style='color: red;') #{queue.count} 
          else
            h1(style='color: green;') #{queue.count} 
        hr