!!! 5
//if lt IE 7 ]><html class="ie ie6" lang="en"> 
//if IE 7 ]><html class="ie ie7" lang="en"> 
//if IE 8 ]><html class="ie ie8" lang="en"> 
// [if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]
head
  meta(charset='utf-8')
  title CloudQ
  meta(name='description', content='')
  meta(name='author', content='')
  //if lt IE 9
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  // Mobile Specific
  meta(name="viewport", content="with=device-width, initial-scale=1, maximum-scale=1")

  // CSS
  link(rel="stylesheet", href="/stylesheets/base.css")
  link(rel="stylesheet", href="/stylesheets/skeleton.css")
  link(rel="stylesheet", href="/stylesheets/layout.css")

  // Favicons
  link(rel='shortcut icon', href='images/favicon.ico')
  link(rel='apple-touch-icon', href='images/apple-touch-icon.png')
  link(rel='apple-touch-icon', sizes='72x72', href='images/apple-touch-icon-72x72.png')
  link(rel='apple-touch-icon', sizes='114x114', href='images/apple-touch-icon-114x114.png')    
body 
  .container
    != body

| </html>