$body-bg-color: #000;
 
$base-color: #333;
$base-gradient: 'matte';
$active-color: #B2DF1E;
 
$tabs-dark: $base-color;
$tabs-light: #555;
 
$tabs-bottom-radius: .4em;
$tabs-bottom-gradient: 'bevel';
$tabs-bar-gradient: 'matte';
$tabs-bottom-active-gradient: 'recessed';
 
$toolbar-gradient: 'glossy';
 
@import 'sencha-touch/default/all';
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet; 
@include sencha-picker;
@include sencha-toolbar-forms;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-carousel;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-form;
@include sencha-sheet;
 
.x-toolbar .x-toolbar-title {
    color: saturate(lighten($active-color, 10%), 20%);
    text-shadow: rgba(#fff, .8) 0 1px 20px;
}
 
.x-tab-active img {
    background: white none !important;
}

